<div class="container">

<%= form_for(:sample) do |s| %>
  <form style="display:hidden" id="hidden_form">
   <input type="text" name="hidden-input">
  </form>
<% end %>

<!--NEW FORM-->

<%= form_for(samples[0]) do |s| %>
<table>

  <tr class="form_titles">

    <th>Field</th>
    <th>Bacteria</th>
    <th>Size/Shape</th>
    <th>Actinobacteria</th>
    <th>Fungi</th>
    <th>Diameter</th>
    <th>Color</th>
    <th>Oomycetes</th>
    <th>Diameter</th>
    <th>Color</th>
    <th>Flagellate</th>
    <th>Amoebae</th>
    <th>Ciliates</th>
  </tr>

<% samples.each do |r|%>
  <%= s.fields_for r do |x| %>
    <tr>
    <td>
    <%=x.label :reading_number, r.reading_number%>
    </td>

    <td>
      <%=text_field_tag "samples[#{r.reading_number}][bacterial_number]", r.bacterial_number %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][bacterial_size_shape]", r.bacterial_size_shape %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][actinobacteria]", r.actinobacteria %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][fungi]", r.fungi %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][fungi_diameter]", r.fungi_diameter %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][fungi_colour]", r.fungi_colour %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][oomycetes]", r.oomycetes %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][oomycetes_diameter]", r.oomycetes_diameter %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][oomycetes_colour]", r.oomycetes_colour %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][flagellate]", r.flagellate %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][amoebae]", r.amoebae %>
    </td>
    <td>
      <%=text_field_tag "samples[#{r.reading_number}][ciliates]", r.ciliates %>
    </td>

   </tr>

  <% end %>

  <% end %>

  <%= s.submit %>

</table>

<hr >

<!--Nematodes-->

<div class="second_section">

<table class="nematodes">

  <tr>
    <th></th>
    <th>Nematodes</th>
  </tr>

  <tr>
    <th>Bacteria</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Fungal</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Predator</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Root</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Brrix</th>
    <td><input></td>
  </tr>

  <tr>
    <th>PH</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Moisture</th>
    <td><input></td>
  </tr>

</table>

<!--Comments Section-->

<table class="notes">

  <tr>
    <th>Notes/Questions</th>
  </tr>

  <tr>
    <th>
    Feel free to write any
    further information you
    feel important or
    usefull, and any
    questions you might
    have such that
    everything can be
    recorded and kept
    incase this is usefull for
    future reference.
    </th>
  </tr>

  <tr>
    <td><input></td>
  </tr>
  
</table>

</div>

<script>
  document.getElementById("hidden_form").defaultValue = "Hidden_Data";
</script>

<%end%>