<div class="container">

<!--NEW FORM-->

<table>

  <tr class="form_titles">

    <th>#</th>
    <th>Bacteria</th>
    <th>Size/Shape</th>
    <th>Actinobacteria</th>
    <th>Fungi</th>
    <th>Diameter</th>
    <th>Color</th>
    <th>Oomycetes</th>
    <th>Diameter</th>
    <th>Color</th>
    <th>Flagellate</th>
    <th>Amoebae</th>
    <th>Ciliates</th>
  </tr>
  <% samples.each do |s| %>
    <tr>
    <td><%=s.reading_number - 1%></td>
    <td><%=s.bacterial_number%></td>
    </tr>
  <% end %>

<%= form_for(@sample) do |s| %>
<!-- normal form for one sample -->

    <tr>
    <td>
    <%=s.label :reading_number, @sample.reading_number%>
    </td>

    <td>
      <%=s.text_field :bacterial_number %>
    </td>
    <td>
      <%=s.text_field :bacterial_size_shape%>
    </td>
    <td>
      <%=s.text_field :actinobacteria%>
    </td>
    <td>
      <%=s.text_field :fungi%>
    </td>
    <td>
      <%=s.text_field :fungi_diameter%>
    </td>
    <td>
      <%=s.text_field :fungi_colour%>
    </td>
    <td>
      <%=s.text_field :oomycetes%>
    </td>
    <td>
      <%=s.text_field :oomycetes_diameter%>
    </td>
    <td>
      <%=s.text_field :oomycetes_colour%>
    </td>
    <td>
      <%=s.text_field :flagellate%>
    </td>
    <td>
      <%=s.text_field :amoebae%>
    </td>
    <td>
      <%=s.text_field :ciliates%>
    </td>
   </tr>

    <%= s.submit %>
  <% end %>

</table>

<hr >

<!--Nematodes-->

<div class="second_section">

<table class="nematodes">

  <tr>
    <th></th>
    <th>Nematodes</th>
  </tr>

  <tr>
    <th>Bacteria</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Fungal</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Predator</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Root</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Brrix</th>
    <td><input></td>
  </tr>

  <tr>
    <th>PH</th>
    <td><input></td>
  </tr>

  <tr>
    <th>Moisture</th>
    <td><input></td>
  </tr>

</table>

<!--Comments Section-->

<table class="notes">

  <tr>
    <th>Notes/Questions</th>
  </tr>

  <tr>
    <th>
    Feel free to write any
    further information you
    feel important or
    useful, and any
    questions you might
    have such that
    everything can be
    recorded and kept
    incase this is usefull for
    future reference.
    </th>
  </tr>

  <tr>
    <td><input></td>
  </tr>
  
</table>

</div>
