<div class="container centre-text">

    <h3>Sample Data</h3>

</div class>

<div class="container">

  <div class="d-flex justify-content-start">

    <% if current_user.is_a?(GuestUser) %>

          <div class="p-2 login-top-inner">
            <%= link_to "Register", new_user_registration_path %>
          </div>
          <div class="p-2 login-top-inner">
            <%= link_to "Login", new_user_session_path %>
          </div>

    <% else %>

          <div class="p-2 login-top-inner">
            <%= link_to "Home", root_path %>
          </div>
          <div class="p-2 login-top-inner">
            <%= link_to "Your Account", edit_user_registration_path %>
          </div>
          <div class="p-2 login-top-inner">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>

    <% end %>

        <div class="p-2 ml-auto greeting">
          <h5>Hello, <%= current_user.first_name %></h5>
          <p id="notice"><%= notice %></p>
        </div>

  </div>

</div>

<%= render 'reading_header', reading: @reading %>

<%= render 'form', 
    sample_gp_1: @sample_gp_1, 
    sample_gp_2: @sample_gp_2, 
    sample_gp_3: @sample_gp_3, 
    sample_gp_4: @sample_gp_4, 
    nematodes_bacteria_last_1: @nematodes_bacteria_last_1, 
    nematodes_bacteria_last_2: @nematodes_bacteria_last_2, 
    nematodes_bacteria_last_3: @nematodes_bacteria_last_3, 
    nematodes_bacteria_last_4: @nematodes_bacteria_last_4, 
    nematodes_fungi_last_1: @nematodes_fungi_last_1, 
    nematodes_fungi_last_2: @nematodes_fungi_last_2, 
    nematodes_fungi_last_3: @nematodes_fungi_last_3, 
    nematodes_fungi_last_4: @nematodes_fungi_last_4, 
    nematodes_root_last_1: @nematodes_root_last_1, 
    nematodes_root_last_2: @nematodes_root_last_2, 
    nematodes_root_last_3: @nematodes_root_last_3, 
    nematodes_root_last_4: @nematodes_root_last_4, 
    nematodes_predator_last_1: @nematodes_predator_last_1, 
    nematodes_predator_last_2: @nematodes_predator_last_2, 
    nematodes_predator_last_3: @nematodes_predator_last_3, 
    nematodes_predator_last_4: @nematodes_predator_last_4, 
    nematodes_dilution_last_1: @nematodes_dilution_last_1, 
    nematodes_dilution_last_2: @nematodes_dilution_last_2, 
    nematodes_dilution_last_3: @nematodes_dilution_last_3, 
    nematodes_dilution_last_4: @nematodes_dilution_last_4, 
    notes_last_1: @notes_last_1, 
    notes_last_2: @notes_last_2, 
    notes_last_3: @notes_last_3, 
    notes_last_4: @notes_last_4, 
    reading: @reading,
    sample: @sample, 
    entry_1_label: @entry_1_label, 
    entry_2_label: @entry_2_label, 
    entry_3_label: @entry_3_label, 
    entry_4_label: @entry_4_label 
     %>