<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="sample-history flex-no-wrap">

        <div class="sample-history-item">
          <h3>User ID:</h3>
          <p><%= @sample.user_id %></p>
        </div>

        <div class="sample-history-item">
          <h3>Sample ID:</h3>
          <p><%= @sample.sample_id %></p>
        </div>

        <div class="sample-history-item">
        <h3>Reading Number:</h3>
        <p><%= @sample.reading_number %></p>
        </div>

        <div class="sample-history-item">
          <h3>Date taken:</h3>
          <p><%= @sample.sample_date %></p>
        </div>

        <div class="sample-history-item">
          <h3>GPS Location of Sample:</h3>
          <p> <p><%= @sample.gps %></p>
        </div>

      </div>

  <p>
    <strong>Bacterial number:</strong>
    <%= @sample.bacterial_number %>
  </p>

  <p>
    <strong>Bacterial size shape:</strong>
    <%= @sample.bacterial_size_shape %>
  </p>

  <p>
    <strong>Bacterial mean:</strong>
    <%= @sample.bacterial_mean %>
  </p>

  <p>
    <strong>Bacterial standard deviation:</strong>
    <%= @sample.bacterial_standard_deviation %>
  </p>

  <p>
    <strong>Bacterial dilution:</strong>
    <%= @sample.bacterial_dilution %>
  </p>

  <p>
    <strong>No bacteria per gram:</strong>
    <%= @sample.no_bacteria_per_gram %>
  </p>

  <p>
    <strong>Micrograms:</strong>
    <%= @sample.micrograms %>
  </p>

  <p>
    <strong>Actinobacteria:</strong>
    <%= @sample.actinobacteria %>
  </p>

  <p>
    <strong>Actinobacteria mean:</strong>
    <%= @sample.actinobacteria_mean %>
  </p>

  <p>
    <strong>Actinobacterial standard deviation:</strong>
    <%= @sample.actinobacterial_standard_deviation %>
  </p>

  <p>
    <strong>Actinobacteria dilution:</strong>
    <%= @sample.actinobacteria_dilution %>
  </p>

  <p>
    <strong>Actinobacteria dilution:</strong>
    <%= @sample.actinobacteria_dilution %>
  </p>

  <p>
    <strong>Actinobacteria length cm:</strong>
    <%= @sample.actinobacteria_length_cm %>
  </p>

  <p>
    <strong>Actinobacteria micrograms:</strong>
    <%= @sample.actinobacteria_micrograms %>
  </p>

  <p>
    <strong>Fungi:</strong>
    <%= @sample.fungi %>
  </p>

  <p>
    <strong>Fungi diameter:</strong>
    <%= @sample.fungi_diameter %>
  </p>

  <p>
    <strong>Fungi colour:</strong>
    <%= @sample.fungi_colour %>
  </p>

  <p>
    <strong>Fungi calculation:</strong>
    <%= @sample.fungi_calculation %>
  </p>

  <p>
    <strong>Fungi mean:</strong>
    <%= @sample.fungi_mean %>
  </p>

  <p>
    <strong>Fungi standard deviation:</strong>
    <%= @sample.fungi_standard_deviation %>
  </p>

  <p>
    <strong>Fungi dilution:</strong>
    <%= @sample.fungi_dilution %>
  </p>

  <p>
    <strong>Fungal strands cm:</strong>
    <%= @sample.fungal_strands_cm %>
  </p>

  <p>
    <strong>Fungi micrograms:</strong>
    <%= @sample.fungi_micrograms %>
  </p>

  <p>
    <strong>Oomycetes:</strong>
    <%= @sample.oomycetes %>
  </p>

  <p>
    <strong>Oomycetes diameter:</strong>
    <%= @sample.oomycetes_diameter %>
  </p>

  <p>
    <strong>Oomycetes colour:</strong>
    <%= @sample.oomycetes_colour %>
  </p>

  <p>
    <strong>Oomycetes calculation:</strong>
    <%= @sample.oomycetes_calculation %>
  </p>

  <p>
    <strong>Oomycetes mean:</strong>
    <%= @sample.oomycetes_mean %>
  </p>

  <p>
    <strong>Oomycetes standard deviation:</strong>
    <%= @sample.oomycetes_standard_deviation %>
  </p>

  <p>
    <strong>Oomycetes dilution:</strong>
    <%= @sample.oomycetes_dilution %>
  </p>

  <p>
    <strong>Oomycetes number per gram:</strong>
    <%= @sample.oomycetes_number_per_gram %>
  </p>

  <p>
    <strong>Oomycetes micrograms:</strong>
    <%= @sample.oomycetes_micrograms %>
  </p>

  <p>
    <strong>Flagellate:</strong>
    <%= @sample.flagellate %>
  </p>

  <p>
    <strong>Flagellate mean:</strong>
    <%= @sample.flagellate_mean %>
  </p>

  <p>
    <strong>Flagellate standard deviation:</strong>
    <%= @sample.flagellate_standard_deviation %>
  </p>

  <p>
    <strong>Flagellate dilution:</strong>
    <%= @sample.flagellate_dilution %>
  </p>

  <p>
    <strong>Flagellate protozoa:</strong>
    <%= @sample.flagellate_protozoa %>
  </p>

  <p>
    <strong>Amoebae:</strong>
    <%= @sample.amoebae %>
  </p>

  <p>
    <strong>Amoebae mean:</strong>
    <%= @sample.amoebae_mean %>
  </p>

  <p>
    <strong>Amoebae standard deviation:</strong>
    <%= @sample.amoebae_standard_deviation %>
  </p>

  <p>
    <strong>Amoebae dilution:</strong>
    <%= @sample.amoebae_dilution %>
  </p>

  <p>
    <strong>Amoebae protozoa:</strong>
    <%= @sample.amoebae_protozoa %>
  </p>

  <p>
    <strong>Ciliates:</strong>
    <%= @sample.ciliates %>
  </p>

  <p>
    <strong>Ciliates mean:</strong>
    <%= @sample.ciliates_mean %>
  </p>

  <p>
    <strong>Ciliates standard deviation:</strong>
    <%= @sample.ciliates_standard_deviation %>
  </p>

  <p>
    <strong>Ciliates dilution:</strong>
    <%= @sample.ciliates_dilution %>
  </p>

  <p>
    <strong>Ciliates protozoa:</strong>
    <%= @sample.ciliates_protozoa %>
  </p>

  <p>
    <strong>Nematodes:</strong>
    <%= @sample.nematodes %>
  </p>

  <p>
    <strong>Nematodes mean:</strong>
    <%= @sample.nematodes_mean %>
  </p>

  <p>
    <strong>Nematodes dilution:</strong>
    <%= @sample.nematodes_dilution %>
  </p>

  <p>
    <strong>Nematodes protozoa:</strong>
    <%= @sample.nematodes_protozoa %>
  </p>

  <p>
    <strong>Fb biomass ratio:</strong>
    <%= @sample.fb_biomass_ratio %>
  </p>

  <%= link_to 'Edit', edit_sample_path(@sample) %> |
  <%= link_to 'Back', samples_path %>
</div>
