<%= form_for(reading) do |f| %>
  <% if reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--Readings Form-->

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :reading_number %>
    <%= f.number_field :reading_number %>
  </div>

  <div class="field">
    <%= f.label :land_name %>
    <%= f.text_field :land_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
