  <% if samples.blank? %>
    <div class="container centre-text">
      <h3>No sample records have been uploaded that are associated with this particular reading. Please upload the first sample below...</h3>
    </div>
    <div class="container">
      <div class="flex-centre"
        <div class="sample-history-item"><%= link_to 'New Sample', new_reading_sample_path(@reading) %></div>
      </div>
    </div>
  <% else %>

    <h3>Sample Report</h3>

    <table class="sample-report">
        <thead>
          <tr>
            <th>Organisms in the Soil Food Web</th>
            <th>Units</th>
            <th>Sample 1</th>
            <th>Sample 2</th>
            <th>Sample 3</th>
            <th>Sample 4</th>
          </tr>
        </thead>
        <tr>
            <td><strong>Bacterial</strong></td>
            <td>μg/g or mL</td>
            <td><%= @sample.micrograms %></td>
            <td>Row 1 Column 4 - Content</td>
            <td>Row 1 Column 5 - Content</td>
            <td>Row 1 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Actinobacteria</strong></td>
            <td>μg/g or mL</td>
            <td><%= @sample.actinobacteria_micrograms %></td>
            <td>Row 2 Column 4 - Content</td>
            <td>Row 2 Column 5 - Content</td>
            <td>Row 2 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Fungi</strong></td>
            <td>μg/g or mL</td>
            <td><%= @sample.fungi_micrograms %></td>
            <td>Row 3 Column 4 - Content</td>
            <td>Row 3 Column 5 - Content</td>
            <td>Row 3 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Oomycetes</strong></td>
            <td>μg/g or mL</td>
            <td><%= @sample.oomycetes_micrograms %></td>
            <td>Row 4 Column 4 - Content</td>
            <td>Row 4 Column 5 - Content</td>
            <td>Row 4 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Flagellate (Protozoa)</strong></td>
            <td>Per gram</td>
            <td><%= @sample.flagellate_protozoa %></td>
            <td>Row 5 Column 4 - Content</td>
            <td>Row 5 Column 5 - Content</td>
            <td>Row 5 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Amoebae (Protozoa)</strong></td>
            <td>Per gram</td>
            <td><%= @sample.amoebae_protozoa %></td>
            <td>Row 6 Column 4 - Content</td>
            <td>Row 6 Column 5 - Content</td>
            <td>Row 6 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Ciliates (Protozoa)</strong></td>
            <td>Per gram</td>
            <td><%= @sample.ciliates_protozoa %></td>
            <td>Row 7 Column 4 - Content</td>
            <td>Row 7 Column 5 - Content</td>
            <td>Row 7 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Bacterial (Nematodes)</strong></td>
            <td>Per gram</td>
            <td>Row 8 Column 3 - Content</td>
            <td>Row 8 Column 4 - Content</td>
            <td>Row 8 Column 5 - Content </td>
            <td>Row 8 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Fungal (Nematodes)</strong></td>
            <td>Per gram</td>
            <td>Row 9 Column 3 - Content</td>
            <td>Row 9 Column 4 - Content</td>
            <td>Row 9 Column 5 - Content </td>
            <td>Row 9 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Root (Nematodes)</strong></td>
            <td>Per gram</td>
            <td>Row 10 Column 3 - Content</td>
            <td>Row 10 Column 4 - Content</td>
            <td>Row 10 Column 5 - Content </td>
            <td>Row 10 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Predatory (Nematodes)</strong></td>
            <td>Per gram</td>
            <td>Row 9 Column 3 - Content</td>
            <td>Row 9 Column 4 - Content</td>
            <td>Row 9 Column 5 - Content </td>
            <td>Row 9 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Nematode Overall</strong></td>
            <td>Per gram</td>
            <td>Row 9 Column 3 - Content</td>
            <td>Row 9 Column 4 - Content</td>
            <td>Row 9 Column 5 - Content </td>
            <td>Row 9 Column 6 - Content</td>
        </tr>
        <tr>
            <td><strong>Fungal:bacterial ratio F:B</strong></td>
            <td> </td>
            <td>Row 9 Column 3 - Content</td>
            <td>Row 9 Column 4 - Content</td>
            <td>Row 9 Column 5 - Content </td>
            <td>Row 9 Column 6 - Content</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><!-- CRUD Options -->
              <% samples.each do |sample| %>
                <div class="sample-history-inner crud-options">
                  <div class="sample-history-item"><%= link_to 'View Sample', sample %></div>
                  <div class="sample-history-item"><%= link_to 'Edit Sample', edit_sample_path(sample) if logged_in?(:site_admin) %></div>
                  <div class="sample-history-item"><%= link_to 'Delete Sample', sample, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin) %></div>
                </div> <!-- End of CRUD div -->
              <% end %> <!-- End of sample loop -->
            </td>
            <td>Row 5 Column 4 - Content</td>
            <td>Row 5 Column 5 - Content</td>
            <td>Row 5 Column 6 - Content</td>
        </tr>
    </table>

    <br>
    

    <div class="container">
      <div class="flex-centre"
        <div class="sample-history-item"><%= link_to 'New Sample', new_sample_path %></div>
      </div>
    </div>

    <% samples.each do |sample| %>

      <div class="container">

        <!-- Header -->
        <div class="sample-history flex-wrap sample-summary">

          <div class="sample-history-inner">

            <div class="sample-history-item">
              <h3>User ID:</h3>
              <p><%= sample.user_id %></p>
            </div>

            <div class="sample-history-item">
              <h3>Sample ID:</h3>
              <p><%= sample.sample_id %></p>
            </div>

            <div class="sample-history-item">
              <h3>Reading Number:</h3>
              <p><%= sample.reading_number %></p>
            </div>
            
          </div>

          <div class="sample-history-inner">
            <div class="sample-history-item">
              <h3>Date taken:</h3>
              <p><%= sample.sample_date %></p>
            </div>

            <div class="sample-history-item">
              <h3>GPS Location of Sample:</h3>
              <p><%= sample.gps %></p>
            </div>

          </div> <!-- End of sample-history-inner div -->

          <!-- This is where the old code was originally -->

          <!-- CRUD Options -->
          <div class="sample-history-inner crud-options">
            <div class="sample-history-item"><%= link_to 'View Sample', sample %></div>
            <div class="sample-history-item"><%= link_to 'Edit Sample', edit_sample_path(sample) if logged_in?(:site_admin) %></div>
            <div class="sample-history-item"><%= link_to 'Delete Sample', sample, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin) %></div>
          </div> <!-- End of CRUD div -->

        </div> <!-- End of sample-history div -->
        
      </div> <!-- End of container div -->

    <% end %> <!-- End of sample loop -->
  
  <% end %> <!-- End of if statement -->