<div class="login">

  <% if current_user.is_a?(GuestUser) %>

    <div class="landing-splash">
      <%= link_to root_path do %>
        <%= image_tag("regensoil-logo-1600x1026.png", :alt => "Regensoil QMC Logo", :class => "landing-logo") %>
      <% end %>
    </div>

    <div class="row">
      <div class="col align-self-center landing-title">
        <h2 class="welcome-title">Welcome</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 landing-instructions-container">
        <%= image_tag("take-a-soil-sample-1000.jpg", :alt => "RegenSoil QMC - Take a Soil Sample", :class => "landing-instructions-img") %>
        <h3>Taking a Soil Sample</h3>
        <div class="col align-self-center">
          <h2><%= fa_icon "check-circle-o", class: "text-muted large-icon" %></h2>
        </div>
        <ol>
          <li>Collect 9 soil sample in a W transect across the field</li>
          <li>Collect them in a saleable plastic bag</li>
          <li>Label your sample with Field Name, Location, GPS</li>
          <li>Take a P.H measurement, penetrometer measurement and any other observations</li>
        </ol>
      </div>

      <div class="col-md-4 landing-instructions-container">
        <%= image_tag("how-to-use-qmc-1000.jpg", :alt => "RegenSoil QMC - Take a Soil Sample", :class => "landing-instructions-img") %>
        <h3>Inputting Data</h3>
        <div class="col align-self-center">
          <h2><%= fa_icon "clock-o", class: "text-muted large-icon" %></h2>
        </div>
        <ol>
          <li>For each location you manage, create a new location entry</li>
          <li>Enter the count details and press enter for the next page</li>
          <li>Ensure the QSM assessment is complete within 2 hours</li>
        </ol>
      </div>

      <div class="col-md-4 landing-instructions-container">
        <%= image_tag("results-1000.jpg", :alt => "RegenSoil QMC - Take a Soil Sample", :class => "landing-instructions-img") %>
        <h3>Your results</h3>
        <div class="col align-self-center">
          <h2><%= fa_icon "bar-chart", class: "text-muted large-icon" %></h2>
        </div>
        <ol>
          <li>Results will be emailed back to you</li>
          <li>All the instructions on how to amend the soil will be included</li>
          <li>Please allow 4 days for the results</li>
        </ol>
      </div>
    </div>

  <% else %>

    <div class="landing-splash">
      <%= link_to root_path do %>
        <%= image_tag("regensoil-logo-800x513.png", :alt => "Regensoil QMC Logo", :class => "logo") %>
      <% end %>
    </div>
    
    <div class="login-inner">
      <%= render 'reading_list', readings: @user_readings %>
    </div>

  <% end %>

</div>