<h1>Readings</h1>

<h2>Options</h2>

    <p><%= link_to "Add", new_page_path %></p>

<% @readings.each do |reading| %>

    <h3><%= reading.land_name %></h3>
    <p><%= reading.crop_growing %></p>
    <p><%= reading.gps %></p>
    <p><%= link_to 'View', page_path(reading) %></p>

<% end %>