<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>"
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'samples', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'readings', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="page-wrap">

      <div class="landing-splash">
        <%= link_to root_path do %>
          <%= image_tag("regensoil-logo-800x513.png", :alt => "Regensoil QMC Logo", :class => "logo") %>
        <% end %>
      </div>
  
      <header>
        <div>
          <h2>The Credible Food Project</h2>
        </div>
      </header>
    
      <%= yield %>

    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="footer-text">Website developed by <a href="https://www.boxfreshwebsites.com"><%= image_tag("boxfresh-white-250px@2x.png", :alt => "Boxfresh Creative Media", :class => "boxfresh-logo") %></a></p>
          </div>
          <div class="col-md-6">
            <p class="footer-text"><a href="https://crediblefood.com"><%= image_tag("cfp-logo-white-85px@2x.png", :alt => "Credible Food Project", :class => "cfp-logo") %></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>